/******* color river *********/

.dcontainer.head-container.color-scheme{
	background-color: #BF463E !important;
}

a
, a:visited,
ul.bottom-menu li a
,ul.bottom-menu li a:visited{
	color: #414141}

a:hover
, a:active
, .glyph-links:hover .glyph-links-name
,ul.bottom-menu li a:hover{
	color: #000}

.element-card a.color-button.dark
,.element-card a:visited.color-button.dark{
	background: #AE3C34;
	color: #FFF;
}

.element-card a:hover.color-button.dark{
	background: #FFF;
	color: #414141;
	border-color: #414141;

}

.glyph-links .glyph-links-image{
	color: #AE3C34;
}

.dcontainer.dark-light {
	border-top: 10px solid #CA4A42;
}

.in-color
,.color-button
,.color-round-button
,ul.top-menu
,ul.top-menu > li
,#mobile-menu.color
,.clgradient
,.popup-window-titlebar .popup-window-top-row .popup-window-center-column
,.popup-window-titlebar .popup-window-top-row .popup-window-left-column
,.popup-window-titlebar .popup-window-top-row .popup-window-right-column
,.popup-window-button-accept, .popup-window-button-create
,.popup-window-button-accept .popup-window-button-right, .popup-window-button-create .popup-window-button-right
.popup-window-button-accept .popup-window-button-left, .popup-window-button-create .popup-window-button-left{
	background: #AE3C34; /* Old browsers */
	color: #FFF;
	background: -moz-linear-gradient(top,  #CF4C44 0%, #AE3C34 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CF4C44), color-stop(100%,#AE3C34)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #CF4C44 0%,#AE3C34 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #CF4C44 0%,#AE3C34 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #CF4C44 0%,#AE3C34 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #CF4C44 0%,#AE3C34 100%); /* W3C */
}

.color-round-button:hover,
ul.top-menu > li > ul li > a:hover
,ul.top-menu-light > li > ul li > a:hover,
ul.top-menu-transparent-color > li > ul li > a:hover
,#mobile-menu.color #mobile-menu-content > div[data-main="1"] >a
{
	background: #CE4C44; /* Old browsers */
	background: -moz-linear-gradient(top,  #CE4B43 0%, #CE4C44 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CE4B43), color-stop(100%,#CE4C44)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #CE4B43 0%,#CE4C44 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #CE4B43 0%,#CE4C44 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #CE4B43 0%,#CE4C44 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #CE4B43 0%,#CE4C44 100%); /* W3C */
	color: #FFF;
}

ul.top-menu > li:hover
,ul.top-menu > li.selected,
ul.top-menu-light > li.selected
,ul.top-menu-transparent-color > li:hover
,ul.top-menu-transparent-color > li.selected
,.top-menu-light > li:hover
{
	background: #932A23; /* Old browsers */
	background: -moz-linear-gradient(top,  #BC433B 0%, #932A23 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#BC433B), color-stop(100%,#932A23)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #BC433B 0%,#932A23 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #BC433B 0%,#932A23 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #BC433B 0%,#932A23 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #BC433B 0%,#932A23 100%); /* W3C */
	color: #FFF;
}


ul.top-menu > li > ul li
,ul.top-menu-light > li > ul li
,ul.top-menu-transparent-color > li > ul li
/*,#vertical-multilevel-menu li ul li*/
{
	background: #A8372F;
}

ul.top-menu > li > ul li > a
,ul.top-menu-light > li > ul li > a
,ul.top-menu-transparent-color > li > ul li > a
,.color-button.small-button
,ul.top-menu-light > li:hover a
,ul.top-menu-transparent-color > li:hover a
,ul.top-menu-light > li.selected a
/*,#vertical-multilevel-menu li ul li a*/
{
	color: #FFF;
}

#mobile-menu.color #mobile-menu-content > div > a.sub-item{
	background: #CE4C44 url(../images/buttons/ico-arrow-down.png) no-repeat right center;; /* Old browsers */
	background: url(../images/buttons/ico-arrow-down.png) no-repeat right center, -moz-linear-gradient(top,  #CE4B43 0%, #CE4C44 100%); /* FF3.6+ */
	background: url(../images/buttons/ico-arrow-down.png) no-repeat right center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CE4B43), color-stop(100%,#CE4C44)); /* Chrome,Safari4+ */
	background: url(../images/buttons/ico-arrow-down.png) no-repeat right center, -webkit-linear-gradient(top,  #CE4B43 0%,#CE4C44 100%); /* Chrome10+,Safari5.1+ */
	background: url(../images/buttons/ico-arrow-down.png) no-repeat right center, -o-linear-gradient(top,  #CE4B43 0%,#CE4C44 100%); /* Opera 11.10+ */
	background: url(../images/buttons/ico-arrow-down.png) no-repeat right center, -ms-linear-gradient(top,  #CE4B43 0%,#CE4C44 100%); /* IE10+ */
	background: url(../images/buttons/ico-arrow-down.png) no-repeat right center, linear-gradient(to bottom,  #CE4B43 0%,#CE4C44 100%); /* W3C */
	color: #FFF;
}

/**********************/
.modern-card-vertical a.color-button.small-button.white-button,
.modern-card-horizontal a.color-button.small-button.white-button
{
    color: #BC433B;
}

.modern-card-vertical a.color-button.small-button:hover,
.modern-card-horizontal a.color-button.small-button:hover
{
    color: #BC433B;
}

a.color-button.small-button.white-button:hover {
    background: #BC433B;
    color: #FFF;
}

.modern-card-horizontal.border-dark .modern-card-horizontal-image{
    border: 4px solid #BC433B;
}

.modern-card-horizontal.glyph-dark .modern-card-horizontal-image  {
    background: #BC433B;
}

.modern-card-horizontal.glyph-white .modern-card-horizontal-image span {
    color: #BC433B;
}

.classic-card .classic-card-link a:hover{
    color:#BC433B;
}

.classic-card.card-name-line .classic-card-name {
    background: #BC433B;
    border-bottom: 1px solid #BC433B;
}

.classic-card.card-name-line.dark:hover .classic-card-link a {
    color:#BC433B;
}

.classic-card.card-name-line.dark:hover .classic-card-name {
    border-bottom: 1px solid #BC433B;
}

.classic-image-card.show-name-part.action:hover .classic-image-name a{
    color: #BC433B;
}

.classic-image-card.show-name-part .classic-image-name {
    background: #BC433B;
}
/************************/

.color-button:active, .color-round-button:active, ul.top-menu > li:active{
	background: #932A23; /* Old browsers */
	background: -moz-linear-gradient(top,  #BC433B 0%, #932A23 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#BC433B), color-stop(100%,#932A23)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #BC433B 0%,#932A23 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #BC433B 0%,#932A23 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #BC433B 0%,#932A23 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #BC433B 0%,#932A23 100%); /* W3C */
}

input.slide-button-prev
,.tp-leftarrow.default
,.slick-prev
{
	background: #bdc3c7 ; /* Old browsers */
	background:  url("../images/buttons/slide-button-arrow-prev.png") no-repeat center center, -moz-linear-gradient(top,  #ecf0f1 0%, #bdc3c7 100%); /* FF3.6+ */
	background:  url("../images/buttons/slide-button-arrow-prev.png") no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ecf0f1), color-stop(100%,#bdc3c7)); /* Chrome,Safari4+ */
	background:  url("../images/buttons/slide-button-arrow-prev.png") no-repeat center center, -webkit-linear-gradient(top,  #ecf0f1 0%,#bdc3c7 100%); /* Chrome10+,Safari5.1+ */
	background:  url("../images/buttons/slide-button-arrow-prev.png") no-repeat center center, -o-linear-gradient(top,  #ecf0f1 0%,#bdc3c7 100%); /* Opera 11.10+ */
	background:  url("../images/buttons/slide-button-arrow-prev.png") no-repeat center center, -ms-linear-gradient(top,  #ecf0f1 0%,#bdc3c7 100%); /* IE10+ */
	background:  url("../images/buttons/slide-button-arrow-prev.png") no-repeat center center, linear-gradient(to bottom,  #ecf0f1 0%,#bdc3c7 100%); /* W3C */
}

input.slide-button-prev:hover
,.tp-leftarrow.default:hover
,.slick-prev:hover
{
	background: #AE3C34; /* Old browsers */
	background: url("../images/buttons/slide-button-arrow-prev.png") no-repeat center center, -moz-linear-gradient(top,  #CF4C44 0%, #AE3C34 100%); /* FF3.6+ */
	background: url("../images/buttons/slide-button-arrow-prev.png") no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CF4C44), color-stop(100%,#AE3C34)); /* Chrome,Safari4+ */
	background: url("../images/buttons/slide-button-arrow-prev.png") no-repeat center center, -webkit-linear-gradient(top,  #CF4C44 0%,#AE3C34 100%); /* Chrome10+,Safari5.1+ */
	background: url("../images/buttons/slide-button-arrow-prev.png") no-repeat center center, -o-linear-gradient(top,  #CF4C44 0%,#AE3C34 100%); /* Opera 11.10+ */
	background: url("../images/buttons/slide-button-arrow-prev.png") no-repeat center center, -ms-linear-gradient(top,  #CF4C44 0%,#AE3C34 100%); /* IE10+ */
	background: url("../images/buttons/slide-button-arrow-prev.png") no-repeat center center, linear-gradient(to bottom,  #CF4C44 0%,#AE3C34 100%); /* W3C */
}

input.slide-button-next
,.tp-rightarrow.default
,.slick-next
{
	background: #bdc3c7 ; /* Old browsers */
	background:  url("../images/buttons/slide-button-arrow-next.png") no-repeat center center, -moz-linear-gradient(top,  #ecf0f1 0%, #bdc3c7 100%); /* FF3.6+ */
	background:  url("../images/buttons/slide-button-arrow-next.png") no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ecf0f1), color-stop(100%,#bdc3c7)) ; /* Chrome,Safari4+ */
	background:  url("../images/buttons/slide-button-arrow-next.png") no-repeat center center, -webkit-linear-gradient(top,  #ecf0f1 0%,#bdc3c7 100%) ; /* Chrome10+,Safari5.1+ */
	background:  url("../images/buttons/slide-button-arrow-next.png") no-repeat center center, -o-linear-gradient(top,  #ecf0f1 0%,#bdc3c7 100%) ; /* Opera 11.10+ */
	background:  url("../images/buttons/slide-button-arrow-next.png") no-repeat center center, -ms-linear-gradient(top,  #ecf0f1 0%,#bdc3c7 100%) ; /* IE10+ */
	background:  url("../images/buttons/slide-button-arrow-next.png") no-repeat center center, linear-gradient(to bottom,  #ecf0f1 0%,#bdc3c7 100%) ; /* W3C */
}

input.slide-button-next:hover
,.tp-rightarrow.default:hover
,.slick-next:hover
{
	background: #AE3C34; /* Old browsers */
	background: url("../images/buttons/slide-button-arrow-next.png") no-repeat center center, -moz-linear-gradient(top,  #CF4C44 0%, #AE3C34 100%); /* FF3.6+ */
	background: url("../images/buttons/slide-button-arrow-next.png") no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CF4C44), color-stop(100%,#AE3C34)); /* Chrome,Safari4+ */
	background: url("../images/buttons/slide-button-arrow-next.png") no-repeat center center, -webkit-linear-gradient(top,  #CF4C44 0%,#AE3C34 100%); /* Chrome10+,Safari5.1+ */
	background: url("../images/buttons/slide-button-arrow-next.png") no-repeat center center, -o-linear-gradient(top,  #CF4C44 0%,#AE3C34 100%); /* Opera 11.10+ */
	background: url("../images/buttons/slide-button-arrow-next.png") no-repeat center center, -ms-linear-gradient(top,  #CF4C44 0%,#AE3C34 100%); /* IE10+ */
	background: url("../images/buttons/slide-button-arrow-next.png") no-repeat center center, linear-gradient(to bottom,  #CF4C44 0%,#AE3C34 100%); /* W3C */
}

.slick-vertical .slick-prev:hover {
    	background: #AE3C34; /* Old browsers */
	background: url("../images/buttons/slide-button-arrow-prev-up.png") no-repeat center center, -moz-linear-gradient(top,  #CF4C44 0%, #AE3C34 100%); /* FF3.6+ */
	background: url("../images/buttons/slide-button-arrow-prev-up.png") no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CF4C44), color-stop(100%,#AE3C34)); /* Chrome,Safari4+ */
	background: url("../images/buttons/slide-button-arrow-prev-up.png") no-repeat center center, -webkit-linear-gradient(top,  #CF4C44 0%,#AE3C34 100%); /* Chrome10+,Safari5.1+ */
	background: url("../images/buttons/slide-button-arrow-prev-up.png") no-repeat center center, -o-linear-gradient(top,  #CF4C44 0%,#AE3C34 100%); /* Opera 11.10+ */
	background: url("../images/buttons/slide-button-arrow-prev-up.png") no-repeat center center, -ms-linear-gradient(top,  #CF4C44 0%,#AE3C34 100%); /* IE10+ */
	background: url("../images/buttons/slide-button-arrow-prev-up.png") no-repeat center center, linear-gradient(to bottom,  #CF4C44 0%,#AE3C34 100%); /* W3C */
}

.slick-vertical .slick-next:hover {
    	background: #AE3C34; /* Old browsers */
	background: url("../images/buttons/slide-button-arrow-next-down.png") no-repeat center center, -moz-linear-gradient(top,  #CF4C44 0%, #AE3C34 100%); /* FF3.6+ */
	background: url("../images/buttons/slide-button-arrow-next-down.png") no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CF4C44), color-stop(100%,#AE3C34)); /* Chrome,Safari4+ */
	background: url("../images/buttons/slide-button-arrow-next-down.png") no-repeat center center, -webkit-linear-gradient(top,  #CF4C44 0%,#AE3C34 100%); /* Chrome10+,Safari5.1+ */
	background: url("../images/buttons/slide-button-arrow-next-down.png") no-repeat center center, -o-linear-gradient(top,  #CF4C44 0%,#AE3C34 100%); /* Opera 11.10+ */
	background: url("../images/buttons/slide-button-arrow-next-down.png") no-repeat center center, -ms-linear-gradient(top,  #CF4C44 0%,#AE3C34 100%); /* IE10+ */
	background: url("../images/buttons/slide-button-arrow-next-down.png") no-repeat center center, linear-gradient(to bottom,  #CF4C44 0%,#AE3C34 100%); /* W3C */
}

/***** sort panel ********/
.emarket-sort-panel .emarket-sort-panel-buttons > a.active{
	background: #AE3C34; /* Old browsers */
	background: url(../images/sort-order-asc.png) right center no-repeat, -moz-linear-gradient(top,  #CF4C44 0%, #AE3C34 100%); /* FF3.6+ */
	background: url(../images/sort-order-asc.png) right center no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CF4C44), color-stop(100%,#AE3C34)); /* Chrome,Safari4+ */
	background: url(../images/sort-order-asc.png) right center no-repeat, -webkit-linear-gradient(top,  #CF4C44 0%,#AE3C34 100%); /* Chrome10+,Safari5.1+ */
	background: url(../images/sort-order-asc.png) right center no-repeat, -o-linear-gradient(top,  #CF4C44 0%,#AE3C34 100%); /* Opera 11.10+ */
	background: url(../images/sort-order-asc.png) right center no-repeat, -ms-linear-gradient(top,  #CF4C44 0%,#AE3C34 100%); /* IE10+ */
	background: url(../images/sort-order-asc.png) right center no-repeat, linear-gradient(to bottom,  #CF4C44 0%,#AE3C34 100%); /* W3C */
	color: #FFF;
}

.emarket-sort-panel .emarket-sort-panel-buttons > a.active.desc{
	background: #AE3C34; /* Old browsers */
	background: url(../images/sort-order-desc.png) right center no-repeat, -moz-linear-gradient(top,  #CF4C44 0%, #AE3C34 100%); /* FF3.6+ */
	background: url(../images/sort-order-desc.png) right center no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CF4C44), color-stop(100%,#AE3C34)); /* Chrome,Safari4+ */
	background: url(../images/sort-order-desc.png) right center no-repeat, -webkit-linear-gradient(top,  #CF4C44 0%,#AE3C34 100%); /* Chrome10+,Safari5.1+ */
	background: url(../images/sort-order-desc.png) right center no-repeat, -o-linear-gradient(top,  #CF4C44 0%,#AE3C34 100%); /* Opera 11.10+ */
	background: url(../images/sort-order-desc.png) right center no-repeat, -ms-linear-gradient(top,  #CF4C44 0%,#AE3C34 100%); /* IE10+ */
	background: url(../images/sort-order-desc.png) right center no-repeat, linear-gradient(to bottom,  #CF4C44 0%,#AE3C34 100%); /* W3C */
}

.emarket-sort-panel .emarket-sort-panel-view >a.present-plitka.active{
	background: #CCC; /* Old browsers */
	background: url(../images/view-model.png) -2px -43px no-repeat, -moz-linear-gradient(top,  #CF4C44 0%, #AE3C34 100%); /* FF3.6+ */
	background: url(../images/view-model.png) -2px -43px no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CF4C44), color-stop(100%,#AE3C34)); /* Chrome,Safari4+ */
	background: url(../images/view-model.png) -2px -43px no-repeat, -webkit-linear-gradient(top,  #CF4C44 0%,#AE3C34 100%); /* Chrome10+,Safari5.1+ */
	background: url(../images/view-model.png) -2px -43px no-repeat, -o-linear-gradient(top,  #CF4C44 0%,#AE3C34 100%); /* Opera 11.10+ */
	background: url(../images/view-model.png) -2px -43px no-repeat, -ms-linear-gradient(top,  #CF4C44 0%,#AE3C34 100%); /* IE10+ */
	background: url(../images/view-model.png) -2px -43px no-repeat, linear-gradient(to bottom,  #CF4C44 0%,#AE3C34 100%); /* W3C */
}

.emarket-sort-panel .emarket-sort-panel-view >a.present-list.active{
	background: #CCC; /* Old browsers */
	background: url(../images/view-model.png) -41px -43px no-repeat, -moz-linear-gradient(top,  #CF4C44 0%, #AE3C34 100%); /* FF3.6+ */
	background: url(../images/view-model.png) -41px -43px no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CF4C44), color-stop(100%,#AE3C34)); /* Chrome,Safari4+ */
	background: url(../images/view-model.png) -41px -43px no-repeat, -webkit-linear-gradient(top,  #CF4C44 0%,#AE3C34 100%); /* Chrome10+,Safari5.1+ */
	background: url(../images/view-model.png) -41px -43px no-repeat, -o-linear-gradient(top,  #CF4C44 0%,#AE3C34 100%); /* Opera 11.10+ */
	background: url(../images/view-model.png) -41px -43px no-repeat, -ms-linear-gradient(top,  #CF4C44 0%,#AE3C34 100%); /* IE10+ */
	background: url(../images/view-model.png) -41px -43px no-repeat, linear-gradient(to bottom,  #CF4C44 0%,#AE3C34 100%); /* W3C */
}

.emarket-sort-panel .emarket-sort-panel-view >a.present-table.active{
	background: #CCC; /* Old browsers */
	background: url(../images/view-model.png) -82px -43px no-repeat, -moz-linear-gradient(top,  #CF4C44 0%, #AE3C34 100%); /* FF3.6+ */
	background: url(../images/view-model.png) -82px -43px no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CF4C44), color-stop(100%,#AE3C34)); /* Chrome,Safari4+ */
	background: url(../images/view-model.png) -82px -43px no-repeat, -webkit-linear-gradient(top,  #CF4C44 0%,#AE3C34 100%); /* Chrome10+,Safari5.1+ */
	background: url(../images/view-model.png) -82px -43px no-repeat, -o-linear-gradient(top,  #CF4C44 0%,#AE3C34 100%); /* Opera 11.10+ */
	background: url(../images/view-model.png) -82px -43px no-repeat, -ms-linear-gradient(top,  #CF4C44 0%,#AE3C34 100%); /* IE10+ */
	background: url(../images/view-model.png) -82px -43px no-repeat, linear-gradient(to bottom,  #CF4C44 0%,#AE3C34 100%); /* W3C */
}

.column h2 {
	color: #FFF;
	background-color: #AE3C34;
}

.element-file-card a span:after {
	background: #AE3C34;
}

.glyphicon-pad
,h2
,h2.styled{
	color: #CF4C44}

.modern-card-horizontal .modern-card-horizontal-name a{
	color: #414141}

footer{
	border-top: 10px solid #CA4A42;
}

.classic-image-card
,.modern-card-horizontal
,.modern-card-vertical
,.sale-card
{
	border: 1px solid #e8e8e8;
	box-shadow: 0px 4px 0px 0px #e8e8e8;
}

.element-card.dark{
	background: #CA4A42; /* Old browsers */
	background: -moz-linear-gradient(top,  #CA4A42 0%, #CA4A42 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CA4A42), color-stop(100%,#CA4A42)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #CA4A42 0%,#CA4A42 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #CA4A42 0%,#CA4A42 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #CA4A42 0%,#CA4A42 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #CA4A42 0%,#CA4A42 100%); /* W3C */
}

.element-card.dark.background-add-1{
	background: url(../images/elements/bg_1.png) #CA4A42; /* Old browsers */
	background: url(../images/elements/bg_1.png), -moz-linear-gradient(top,  #CA4A42 0%, #CA4A42 100%); /* FF3.6+ */
	background: url(../images/elements/bg_1.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CA4A42), color-stop(100%,#CA4A42)); /* Chrome,Safari4+ */
	background: url(../images/elements/bg_1.png), -webkit-linear-gradient(top,  #CA4A42 0%,#CA4A42 100%); /* Chrome10+,Safari5.1+ */
	background: url(../images/elements/bg_1.png), -o-linear-gradient(top,  #CA4A42 0%,#CA4A42 100%); /* Opera 11.10+ */
	background: url(../images/elements/bg_1.png), -ms-linear-gradient(top,  #CA4A42 0%,#CA4A42 100%); /* IE10+ */
	background: url(../images/elements/bg_1.png), linear-gradient(to bottom,  #CA4A42 0%,#CA4A42 100%); /* W3C */
}

.element-card.dark.background-add-2{
	background: url(../images/elements/bg_2.png) #CA4A42; /* Old browsers */
	background: url(../images/elements/bg_2.png), -moz-linear-gradient(top,  #CA4A42 0%, #CA4A42 100%); /* FF3.6+ */
	background: url(../images/elements/bg_2.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CA4A42), color-stop(100%,#CA4A42)); /* Chrome,Safari4+ */
	background: url(../images/elements/bg_2.png), -webkit-linear-gradient(top,  #CA4A42 0%,#CA4A42 100%); /* Chrome10+,Safari5.1+ */
	background: url(../images/elements/bg_2.png), -o-linear-gradient(top,  #CA4A42 0%,#CA4A42 100%); /* Opera 11.10+ */
	background: url(../images/elements/bg_2.png), -ms-linear-gradient(top,  #CA4A42 0%,#CA4A42 100%); /* IE10+ */
	background: url(../images/elements/bg_2.png), linear-gradient(to bottom,  #CA4A42 0%,#CA4A42 100%); /* W3C */
}

.element-card.dark.background-add-3{
	background: url(../images/elements/bg_3.png) #CA4A42; /* Old browsers */
	background: url(../images/elements/bg_3.png), -moz-linear-gradient(top,  #CA4A42 0%, #CA4A42 100%); /* FF3.6+ */
	background: url(../images/elements/bg_3.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CA4A42), color-stop(100%,#CA4A42)); /* Chrome,Safari4+ */
	background: url(../images/elements/bg_3.png), -webkit-linear-gradient(top,  #CA4A42 0%,#CA4A42 100%); /* Chrome10+,Safari5.1+ */
	background: url(../images/elements/bg_3.png), -o-linear-gradient(top,  #CA4A42 0%,#CA4A42 100%); /* Opera 11.10+ */
	background: url(../images/elements/bg_3.png), -ms-linear-gradient(top,  #CA4A42 0%,#CA4A42 100%); /* IE10+ */
	background: url(../images/elements/bg_3.png), linear-gradient(to bottom,  #CA4A42 0%,#CA4A42 100%); /* W3C */
}

.element-card.dark.background-add-4{
	background: url(../images/elements/bg_4.png) #CA4A42; /* Old browsers */
	background: url(../images/elements/bg_4.png), -moz-linear-gradient(top,  #CA4A42 0%, #CA4A42 100%); /* FF3.6+ */
	background: url(../images/elements/bg_4.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CA4A42), color-stop(100%,#CA4A42)); /* Chrome,Safari4+ */
	background: url(../images/elements/bg_4.png), -webkit-linear-gradient(top,  #CA4A42 0%,#CA4A42 100%); /* Chrome10+,Safari5.1+ */
	background: url(../images/elements/bg_4.png), -o-linear-gradient(top,  #CA4A42 0%,#CA4A42 100%); /* Opera 11.10+ */
	background: url(../images/elements/bg_4.png), -ms-linear-gradient(top,  #CA4A42 0%,#CA4A42 100%); /* IE10+ */
	background: url(../images/elements/bg_4.png), linear-gradient(to bottom,  #CA4A42 0%,#CA4A42 100%); /* W3C */
}

.modern-card-image{
	background: #CA4A42;
}

.modern-card-vertical.glyph-white .modern-card-image span{
	color: #CA4A42;
}

.modern-card-vertical.border-dark .modern-card-image {
	border-color: #CA4A42;
}

a.logo img.bxready{
	;
}

ul.top-menu  li  a{
	color: #FFF;
}

#accordion-multilevel-menu li.item-selected  {
    background: #AE3C34;
}

#accordion-multilevel-menu li.item-selected:hover, #accordion-multilevel-menu>li:hover, 
#accordion-multilevel-menu>li li:hover {
    background: #CF4C44;
}

#vertical-multilevel-menu li ul li {
    background: #CF4C44;
}

#vertical-multilevel-menu li ul li:hover {
    background: #AE3C34;
}

#vertical-multilevel-menu>li.item-selected {
    background: #AE3C34;
}

#vertical-multilevel-menu li:hover {
    background: #CF4C44;
}



