ul#vertical-multilevel-menu, #vertical-multilevel-menu ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

#vertical-multilevel-menu li {
    cursor: pointer;
    border: 1px solid #ededed;
    background: #fff;
    margin-bottom: 4px;
}

#vertical-multilevel-menu>li li {
    margin-bottom: 0;
    border: none;
    border-bottom: 1px solid #fff;
}

#vertical-multilevel-menu>li li:last-child{
    border-bottom: none;
}

ul#vertical-multilevel-menu li.parent-item {

}

ul#vertical-multilevel-menu li.parent-item ul.root-item:before {
    content: "";
    width: 10px;
    height: 19px;
    background: url(images/parent-arrow-right.png);
    position: absolute;
    left: -10px;
    top: 10px;
    z-index: 99;
}

.pull-right ul#vertical-multilevel-menu li.parent-item  ul.root-item:before {
    background: url(images/parent-arrow-left.png);
    position: absolute;
    left: 100%;
    top: 10px;
    z-index: 99;
}

/*Submenu box*/
#vertical-multilevel-menu li{
    position: relative;
}

#vertical-multilevel-menu li ul
{
    position:absolute;
    /*top:-999em;*/
    top:20px;
    display:none;
    z-index:500;
    height:auto;
    border-bottom:none;
    font-weight: normal;
}

.pull-right #vertical-multilevel-menu li ul{
    right: 90%;
}

/* Submenu Items */ 
#vertical-multilevel-menu li a, #vertical-multilevel-menu li a.item-selected 
{ 
    display: block;
    padding: 16px 0px 16px 20px;
    margin-right: 40px;
    text-decoration: none;
    text-align: left;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
}

#vertical-multilevel-menu li a.item-selected, #vertical-multilevel-menu li a.root-item-selected,
#vertical-multilevel-menu li:hover a
{
    color: #fff;
}


.pull-right #vertical-multilevel-menu li a
,.pull-right #vertical-multilevel-menu li a.item-selected{
    /*padding: 12px 0px 12px 40px;*/
}

#vertical-multilevel-menu li a:hover {
    text-decoration: none;
}

#vertical-multilevel-menu>li li a {
    white-space: nowrap;
}

.pull-right #vertical-multilevel-menu>li li a{
    white-space: nowrap;
}

* html ul#vertical-multilevel-menu li { 
    float: left; 
    height: 1%; 
} 
* html ul#vertical-multilevel-menu li a { 
    height: 1%;
    white-space: nowrap;
} 
/* End */ 


/*Submenu margin*/
#vertical-multilevel-menu li ul.root-item
{
    margin:-21px 0 0 254px;
    min-width: 200px;
}

.pull-right #vertical-multilevel-menu li ul.root-item {
    margin:-21px 25px 0 254px;
}

#vertical-multilevel-menu li ul
{
    margin:-27px 0 0 150px;
}

/*Submenu hide*/
#vertical-multilevel-menu li:hover ul ul,
#vertical-multilevel-menu li.jsvhover ul ul,
#vertical-multilevel-menu li:hover ul ul ul,
#vertical-multilevel-menu li.jsvhover ul ul ul 
{
    border: 1px solid #e3eaef;
    display:none;
}

/*Submenu show*/
#vertical-multilevel-menu li:hover ul,
#vertical-multilevel-menu li.jsvhover ul,
#vertical-multilevel-menu li li:hover ul,
#vertical-multilevel-menu li li.jsvhover ul,
#vertical-multilevel-menu li li li:hover ul,
#vertical-multilevel-menu li li li.jsvhover ul
{
    border: 1px solid #e3eaef;
    display:block;
}